server:
  address: ":8000"
  openapiPath: "/api.json"
  swaggerPath: "/swagger"

logger:
  level: "all"
  stdout: true


# 数据库连接配置
database:
  logger:
    path: "logs/sql"
    level: "all"
    stdout: true
    ctxKeys: [ "RequestId" ]

  default: #需要修改自己的密码
    link: "mysql:root:123456@tcp(127.0.0.1:3306)/shop"
    #    link:   "sqlite::@file(manifest/document/sqlite/focus.db)"
    debug: true

