
# CLI tool, only in development environment.
# https://goframe.org/pages/viewpage.action?pageId=3673173
gfcli:
  # 工具编译配置
  build:
    name:     "shop"
    arch:     "amd64"
    system:   "linux,darwin,windows"
    mod:      ""
    cgo:      0

  # dao生成
  gen:
    dao:  #换成自己的数据库连接
      - link:            "mysql:root:123456@tcp(127.0.0.1:3306)/shop"
        removePrefix:    "gf_"
        descriptionTag:  true
        noModelComment:  true
